* {
    padding: 0;
    margin: 0;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


body {
    background-color: #8DD4FE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo__img {
    display: flex;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 2rem;
    height: 2rem;
    background-image: url(./fotos/register/logo\ png.png);
    order: 1;
}

.fondo {
    z-index: 1;
    height: 300px;
    background: #212363;
}

.container2 {
    display: flex;
    justify-content: center;
    align-content: center;
}


.caja {
    order: 1;
    width: 120vh;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    box-shadow: 0 2px 15px 0 #627a8b;
    box-sizing: border-box;
    display: flex;

}

.caja__texto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;

}

.caja h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #fbf04e;
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 2px 2px 2px #c6c9b6;
    padding-bottom: .4rem;


}

.caja a {
    color: #428ac9;
    font-size: 0.8rem;
    font-weight: 900;
    text-decoration: none;
}


.caja__imagen {
    width: 55vh;
    height: 30rem;
    background-image: url(./fotos/todos.jpg);
    border-radius: 35px;
    background-size: cover;
}

.caja__inputbox {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.caja__inputbox label {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #C8578A;
    font-size: .9rem;
    padding-bottom: .2rem
}

.caja__inputbox input {
    background-color: #E7F2FA;
    border-radius: 15px;
    font-size: .8rem;
    border: none;
    padding: 0.4rem 2rem;
    color: #2080c5;
    font-weight: 650;
    box-shadow: 2px 2px 2px #9da4a8;
}

.caja__inputbox input::placeholder {
    color: #9da4a8;
}


.register__submit {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.3rem;
}

.submit--btn {
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: #eb70a7;
    color: #ffffff;
    border: none;
    padding: .5rem 1rem;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #9da4a8;
    cursor: pointer;


}

.submit--btn button {
    cursor: pointer;
}

.texto__inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 800;
    color: #212363;
}

.texto__final {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: .8rem;
    font-weight: 600;
    color: #212363;
}